body {
    font-family: Arial;
    font-size: 90%;
    background-color: #dcdcdc;
}


.btn {
    background: #aeb0ad;
    color: #dce2df;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px #888888;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover  {
    background-color: #1a9a29;
}

.btn.cancel:hover {
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

label, input {
    display: block;
}

label {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 20px;
}




.popup {
    margin: 300px auto;
    text-align: center;
    font: 14px Prototype, serif;
    padding: 20px;
    background: rgb(213, 213, 213);
    border-radius: 5px;
    width: 30%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.61);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

input[type=text], input[type=password] {
    width: 280px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.login-input {
    display: inline-block;
    width: 240px;
}

nav {
    float: right;
    max-width: 25%;
    padding: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

article {
    line-height: 200%;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 28%;
    border-right: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

#article2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 3%;
    border-left: 2px solid black;
    padding: 1em;
    overflow: hidden;
}

.red {
    color: red;
    font-size: 16px;
}

#white {
    color: white;
}

b {
    font-size: 18px;
}

header {
    margin-left: 15px;
    margin-top: 30px;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 35px;
    overflow: hidden;
    background-color: #333;
    top: 600px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    background-color: white;
}

.centreret {
    margin-left: 20%;
}

