<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics">

</head>
<body>


<header th:replace="layout :: header"/>

<ul th:replace="layout :: driver-tg-menu"></ul>
<p> Træt af skjulte gebyrer og omkostninger? Vi tilbyder at afhente din olie ganske gratis og afregner 1 krone pr. liter brugt fritureolie! Klik her så kontakter vi dig eller ring til os for et uforpligtende tilbud!

    TG Renovation ApS er en godkendt dansk renovationsvirksomhed, som specialiserer sig i indsamling af vegetabilsk fritureolie.

    Vi er foretrukken leverandør af flere restaurations og fastfood virksomheder landet over. Vores primære forcer er kvaliteten i vores arbejde, miljøvenlig håndtering af spildolie og højt serviceniveau i form af afhentning rettidigt.

    Din fritureolie udgør et vigtig element i begrænsning af forurening og er et vigtig bidrag til bæredygtighed og grøn omstilling. Det er således en ressourcefornuftig måde for din virksomhed at udnytte spildaffald.

    Hos os slipper du for at skulle henvende dig telefonisk og administrativt bøvl. Ved hjælp af vores app er du få klik fra at få afhentet din friturolie! </p>


<footer th:replace="layout :: footer"/>

</body>
</html>