<!DOCTYPE html>
<html lang="en">

<head th:fragment="relics">
    <link rel="stylesheet" href="C:\Users\gusta\IdeaProjects\TGRenovation\src\main\resources\static\style.css"
          th:href="@{style.css}"/>
    <title>TG Renovation ApS</title>
</head>

<body>


<header th:fragment="header">
    <a href="index.html" th:href="@{/}"> <img th:src="@{/img/TGRenovation.png}"/></a>
</header>

<ul th:fragment="tg-menu">
    <li><a href="/">Forside</a> </li>
    <li><a href="/">Services</a> </li>
    <li><a href="/">Om os</a> </li>

    <!-- linket / knappen til login popuppen -->
    <li><a href="#popup1" >Login</a> </li>

    <!-- referancen fra knappen er her til id popup1 -->
    <div id="popup1" class="overlay">
        <div class="popup">
            <form  th:action="@{/login}" method="post">
            <!--her er de 2 textblocke til username og password-->
            <div class="form-group">
                <input type="text" name="cName" id="cName" class="login-input"
                       placeholder="UserName" required="true" autofocus="true"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="login-input"
                       placeholder="Password" required="true"/>
            </div>

            <!--her skal være metode til at logge ind-->

            <!-- her er knapperne i popup boxen -->
            <a class="btn cancel" href="#" >Cancel</a>
            <input type="submit" value="Login" class="btn"/>
            </form>
        </div>
    </div>



    <li><a href="tilmeld.html" th:href="@{/tilmeld}">Tilmeld</a> </li>
    <li><a href="/">Kundeservice</a> </li>
</ul>


<footer th:fragment="footer">
    <p id="white">TG Renovation ApS | Naverland 17, 2600 Glostrup | Ulvehavevej 44, 7100 Vejle | CVR: 32317448 | Telefon: +45 22 25 21 56 | E-mail: info@tgrenovation.dk</p>
</footer>




<!--Det her er brugerens tg-menu-->

<ul th:fragment="bruger-tg-menu">
    <li><a href="/">Forside</a> </li>
    <li><a href="/">Services</a> </li>
    <li><a href="/">Om os</a> </li>
    <li><a href="/seAfhentning">Se nuværende afhentninger</a> </li>
    <li><a href="/opretAfhentning">Bestil ny afhentning</a> </li>
    <li><a href="/">Kundeservice</a> </li>
</ul>

<!--Det her er chaufførens tg-menu-->


<ul th:fragment="chaoffoer-tg-menu">
    <li><a href="/">Forside</a> </li>
    <li><a href="/">Services</a> </li>
    <li><a href="/">Om os</a> </li>
    <li><a href="/">Se Adresser/Telefon numre</a> </li>
    <li><a href="/">Kundeservice</a> </li>
</ul>


</body>
</html>