<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics">

</head>
<body>

<div class="wrapper">

    <header th:replace="layout :: header"/>

    <ul th:replace="layout :: bruger-tg-menu"></ul>


    <table>
        <tr th:each="c : ${company}">
            <th id="firmanavn" th:text="${c.companyName}"></th>
        </tr>
    </table>

    <table>
        <br/>
        <tr>
            <th>Kontakperson navn</th>
            <th>Kontaktperson kundenummer / tlf. nummer</th>
            <th>Afhentningsadresse</th>
            <th>Beholderstørrelse</th>
            <th>Antal beholdere</th>
            <th>Afregning</th>
            <th>Evt. bemærkninger</th>
            <th>Afhentningsdag</th>
            <th>Region</th>
            <th></th>
        </tr>
        <tr th:each="mc : ${modelclass}">
            <td th:text="${mc.name}"></td>
            <td th:text="${mc.number}"></td>
            <td th:text="${mc.pickupAdress}"></td>
            <td th:text="${mc.size}"></td>
            <td th:text="${mc.amount}"></td>
            <td th:text="${mc.settlement}"></td>
            <td th:text="${mc.comments}"></td>
            <td th:text="${mc.weekDay}"></td>
            <td th:text="${mc.region}"></td>

            <td>
                <!-- update knappen -->
                <a th:href="@{/opdaterAfhentning(id=${mc.id})}" class="btn" >Opdater</a>


                <!-- popup delete knappen -->
                <a class="btn" href="#popup1" >Fjern</a>

                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Er du sikker på du vil slette denne afhentning?</h2>
                        <a class="btn cancel" href="#" >Afbryd</a>

                        <a th:href="@{/fjernAfhentning(id=${mc.id})}" class="btn" >Fjern</a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
    <footer th:replace="layout :: footer"/>

</div>


</body>
</html>