<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics">

</head>
<body>

<div class="wrapper">

    <header th:replace="layout :: header"/>

    <ul th:replace="layout :: bruger-tg-menu"></ul>


    <table>
        <tr th:each="c : ${company}">
            <th id="firmanavn" th:text="${c.companyName}"></th>
        </tr>
    </table>

    <table>
        <br/>
        <tr>
            <th>Contact Person Name</th>
            <th>Contact Person Number</th>
            <th>Pickup Adress</th>
            <th>Oil Size</th>
            <th>Oil Amount</th>
            <th>Settlement</th>
            <th>Comments</th>
        </tr>
        <tr th:each="mc : ${modelclass}">
            <td th:text="${mc.name}"></td>
            <td th:text="${mc.number}"></td>
            <td th:text="${mc.pickupAdress}"></td>
            <td th:text="${mc.size}"></td>
            <td th:text="${mc.amount}"></td>
            <td th:text="${mc.settlement}"></td>
            <td th:text="${mc.comments}"></td>
        </tr>

    </table>
    <footer th:replace="layout :: footer"/>

</div>


</body>
</html>