<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: relics">

</head>
<body>


<header th:replace="layout :: header"/>

<ul th:replace="layout :: driver-tg-menu"></ul>


<table>
    <tr>
        <th>Kontaktperson navn</th>
        <th>Tlf nummer</th>
        <th>Afhentnings adresse</th>
        <th>Olie størrelse</th>
        <th>Olie mængde</th>
        <th>Betalingsform</th>
        <th>Kommentarer</th>
        <th></th>
    </tr>
    <tr th:each="dp : ${driveplan}">
        <td th:text="${dp.name}"></td>
        <td th:text="${dp.number}"></td>
        <td th:text="${dp.pickupAdress}"></td>
        <td th:text="${dp.size}"></td>
        <td th:text="${dp.amount}"></td>
        <td th:text="${dp.settlement}"></td>
        <td th:text="${dp.comments}"></td>
    </tr>
</table>

<footer th:replace="layout :: footer"/>

</body>
</html>